{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-newspaper-o icon-gradient bg-sunny-morning"></i>
                </div>
                <div>Blogs
                    <div class="page-title-subheading">Manage all your blog posts from here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="my-app-content">
        <table  class='table table-bordered table-hover bg-white' >

            <tr class='bg-grey'>
                <th>Blog Image</th>
                <th>Blog Title</th>
                <th>Creation Date/Time</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {{#ifEquals blogsData.length 0}}
                {{>empty_state_table}}
            {{/ifEquals}}

            {{#each blogsData}}
                <tr>
                    <td class='addon-link' data-href='/blogs/view/{{blog_id}}'><img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{blog_display_image}}' class='img-fluid' width='90px' ></td>
                    <td class='addon-link' data-href='/blogs/view/{{blog_id}}'>  {{blog_title}}  </td>
                    <td class='addon-link' data-href='/blogs/view/{{blog_id}}'>  {{blog_creation_date}}</td>
                    <td>
                        <a href="/blogs/edit/{{blog_id}}">
                            <button type='submit' class='btn btn-info' >
                                <span><i class='fa fa-edit'></i></span> Edit Blog
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger button_Delete" type="button" data-blog-id="{{blog_id}}" data-blog-image-name="{{blog_display_image}}" data-toggle="modal" data-target="#modal_Delete" >
                            <span><i class='fa fa-lg fa-trash'></i></span> Delete Blog
                        </button>
                    </td>
                </tr>

            {{/each}}


        </table>

        <div class="float-right">
            {{{parsedPaginatorHtml}}}
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-4"></div>
            <a class="col-4 btn btn-primary" href="/blogs/add">
                Add New Blog
            </a>
            <div class="col-4"></div>
        </div>

    </div>





{{/template_base}}


{{#*inline "partial_body_script"}}
    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Blog</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/blogs/delete'>
                        <input id="input_BlogId" type='hidden' name='blogId'>
                        <input id="input_BlogImageName" type='hidden' name='blogImageFileName'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger ' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script>
    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let blogId = button.attr('data-blog-id') ;
        let blogImageName= button.attr('data-blog-image-name') ;


        $(this).find('#input_BlogId').val(blogId) ;
        $(this).find('#input_BlogImageName').val(blogImageName) ;
    })
</script>

{{/inline}}

