<html>
<head>
    <title>HomeFlavor | Backend</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12">

                <br><br><br><br>


                <div class="row">
                    <div class="col-md-10 push-1"  >

                        <div class="row">
                            <div class="col-6">
                                <div id="Div_BlogDate">
                                    <label for="input-blog-date" class="col-form-label">Creation Date:</label>
                                    <div>
                                        <input id="input-blog-date" class="form-control" type="text" value="{{blogData.blog_creation_date}}" disabled >
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="Div_BlogAuthor">
                                    <label for="input-blog-date" class="col-form-label">Author Name:</label>
                                    <div>
                                        <input id="input-blog-date" class="form-control" type="text" value="Rafique Gagneja" disabled >
                                    </div>
                                </div>
                            </div>
                        </div>



                        <br><br>
                        <div id="Div_BlogTitle">
                            <label for="input-blog-title" class="col-form-label">Blog Title:</label>
                            <div>
                                <input id="input-blog-title" class="form-control" type="text" value="{{blogData.blog_title}}" disabled >
                            </div>
                        </div>
                        <br><br>

                        <div id="Div_BlogDisplayImage">
                            <label for="presentation-only-field-display" class="col-form-label">Blog DisplayImage:</label>
                            <div class="row">
                                <div class="col-6">
                                    <img src='{{IMAGE_BACKENDFRONT_LINK_PATH}}{{blogData.blog_display_image}}' alt='blog image' class="img-fluid form-control" width="100px" />
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <br>

                        <div id="Div_BlogContent">
                            <label for="input-blog-description" class="col-form-label">Blog Content:</label>
                            <div>
                                <div class="form-control bg-faded">{{{blogData.blog_content}}}</div>
                            </div>
                        </div>





                        <br><br><br>
                        <div class="form-group row">
                            <div class="col-4" ></div>
                            <a href='/blog/{{blogData.blog_id}}/edit' class='col-4 btn btn-outline-info' >Edit this BlogPost</a>
                            <div class="col-4" ></div>
                        </div>





                    </div>
                </div>





                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>








</html>
