{{#*inline "partial_head"}}
    <link rel="stylesheet" href="{{publicDirectoryLocation}}/css/arrange.css">

{{/inline}}


{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-cutlery icon-gradient bg-mixed-hopes"></i>
                </div>
                <div>
                    Arrange Dishes
                    <div class="page-title-subheading">
                        Click and drag to change order of dishes
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/dishes' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <ol id="" class="hidden-list-numbering" style="display: inline-block;float: left;">
                        {{#each itemData}}
                            <li style='height: 125px;'></li>
                        {{/each}}
                    </ol>
                    <ol id="sorting" class="my-sortable-list" style="display: inline-block">
                        {{#each itemData}}
                            <li id='{{item_id}}'>
                                <img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{item_image_name}}'  height='90px'>
                                <div class="text-center">{{item_name}}</div>
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-4"></div>
        <button class="col-4 btn btn-primary"  onclick="saveSortOrder();">Save order</button>
        <div class="col-4"></div>
    </div>
{{/template_base}}


{{#*inline "partial_body_script"}}
<script>
    $('#sorting').sortable({
        placeholder: "highlight",
        forcePlaceholderSize: true,
        axis:'y',
        opacity:0.7
    }) ;

    function saveSortOrder() {
        let sortedArray = $('#sorting').sortable("toArray") ;
        console.log(sortedArray) ;
        fetch('/menu/dishes/arrange/save', {
            method: 'POST',
            body: new URLSearchParams({
                _csrf : "{{_csrfToken}}",
                sortedArray : JSON.stringify(sortedArray)
            })
        })
                .then((response)=>response.json())
                .then((data)=>{
                  console.log(data) ;
                    if(data.status == true){
                        makeToast('success', "New Order is saved <br> Taking you back to dishes page") ;
                        setTimeout(function () {
                            window.location.href="/menu/dishes" ;
                        }, 1000)
                    }else{
                        throw data ;
                    }
                })
                .catch((err)=>{
                    console.log(err) ;
                    makeToast('error', "Error in saving the new order") ;
                }) ;




    }



</script>
{{/inline}}