<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12 bg-grey">

                <br><br><br><br>
                <div class="page-title bg-light">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h1 class="">Edit Dish</h1>
                        </div>
                    </div>
                </div>
                <br>


                <div class="row">
                    <div class="push-md-1 col-md-10" >
                        <div class="card">
                            <div class="card-block">
                                <form action="/menu/dishes/edit/save" method="post" enctype="multipart/form-data" >

                                    <input name="categoryId" type="hidden" value="{{itemData.category_id}}">
                                    <input name="itemId" type="hidden" value="{{itemData.item_id}}">
                                    <input name="itemOldImageFileName" type="hidden" value="{{itemData.item_image_name}}">
                                    <br>


                                <div class="form-group row">
                                    <label for="input-item-name" class="col-3 col-form-label">Item Name</label>
                                    <div class="col-md-9">
                                        <input id="input-item-name" name="itemName" class="form-control" type="text" value="{{itemData.item_name}}" >
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-description" class="col-3 col-form-label">Item Description</label>
                                    <div class="col-md-9">
                                        <textarea  id="input-item-description" name="itemDescription" class="form-control" rows="5"  >{{itemData.item_description}}</textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-category" class="col-3 col-form-label">Item Category</label>
                                    <div class="col-md-9">
                                        <input id="input-item-category" class="form-control" type="text" value="{{itemData.category_name}}" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-active" class="col-3 col-form-label">Item Active</label>
                                    <div class="col-md-9">
                                        <input id="input-item-isActive-hidden" name="isItemActive" class="form-control" type="hidden" value="{{itemData.item_is_active}}"  >
                                        <input id="input-item-isActive-presentation" type="checkbox" class="form-control"  {{#if itemData.item_is_active}} checked="checked"{{/if}}  data-toggle="toggle" data-width="100" data-onstyle="success" data-offstyle="danger" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                                    </div>
                                </div>

                                <br>
                                <br>
                                <br>

                                {{#each itemSizePriceData}}
                                    <div class="form-group row">
                                        <label  class="col-3 col-form-label">Item Price ({{size_name}}) </label>
                                        <div class="col-md-9 input-group">
                                            <input id="input-itemSize-isActive-hidden-{{size_id}}" name="isItemSizeActive_{{size_id}}" type="hidden" class="form-control"  value="{{item_size_active}}"  >
                                            <input id="input-itemSize-isActive-presentation-{{size_id}}" type='checkbox' class='form-control' {{#if item_size_active}}checked="checked"{{/if}}  data-toggle='toggle' data-width='50' data-onstyle='success' data-offstyle='danger' data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                                            <div class="input-group" style='margin-left: 20px;'>
                                                <span class="input-group-addon"> &#x20B9; </span>
                                                <input name="itemSizePrice_{{size_id}}" type='number' class='form-control' value="{{item_price}}"  >
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}

                                <div class="form-group row">
                                    <label  class="col-3 col-form-label">Item Image</label>
                                    <div class="col-4 ">
                                        <center><img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{itemData.item_image_name}}" class="img-fluid" width='180'></center>
                                    </div>
                                    <div class="col-4 push-1 ">
                                        <button id="btn-file-choose" class="input-group-addon" style="cursor: pointer;">Choose Image</button>
                                        <div class="justify-content-center input-group">
                                            <input id="hidden-file-chooser" name="post_Image" type="file" style="width:0;" accept="image/x-png,image/jpeg" >
                                            <img id="preview-image"/>
                                        </div>
                                    </div>
                                </div>

                                <br><br><br>
                                <div class="form-group row">
                                    <div class="col-4" ></div>
                                    <input type="submit" class=" col-4 btn btn-info" value="Save Changes">
                                    <div class="col-4" ></div>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <br><br><br>

            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>

<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>
<script>

    handleBrowseButton_Preview("btn-file-choose","hidden-file-chooser", "preview-image") ;


    setupCheckboxToggleButton('input-item-isActive-presentation', 'input-item-isActive-hidden') ;
    {{#each itemSizePriceData}}
        setupCheckboxToggleButton('input-itemSize-isActive-presentation-{{size_id}}', 'input-itemSize-isActive-hidden-{{size_id}}' ) ;
    {{/each}}
</script>







</html>
