<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
    <link rel="stylesheet" href="/css/gallery.css">

</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12">

                <br><br><br><br>
                <div class="page-title bg-light">
                    <div class="container">
                        <div class="text-center">
                            <h1>Gallery Images</h1>
                            <a href='\gallery\arrange' class="mytheme-anchor">Change Order</a>
                        </div>
                    </div>
                </div>
                <br><br><br>




                <table  class="table table-bordered table-hover" >
                    <tr class="table-info">
                        <th>Sr No </th>
                        <th class="text-center">Item </th>
                        <th class="text-center">Delete</th>
                    </tr>
                    {{#ifEquals galleryData.length 0}}
                        {{>empty_state_table}}
                    {{/ifEquals}}

                    {{#each galleryData}}
                    <tr>
                        <td>{{increment @index}}</td>
                        <td class='gallery-image text-center'><img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{gallery_item_image_name}}' width='280px' class='img-fluid' ></td>
                        <td>
                            <button class="btn btn-danger button_Delete" type="button" data-gallery-item-id="{{gallery_item_id}}" data-gallery-item-name="{{gallery_item_image_name}}" data-toggle="modal" data-target="#modal_Delete" >Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                <br><br>



                <div id="model_ImageZoom" class="modal-image-zoom">
                    <img class="modal-content" id="image_Enlarged">
                </div>



                <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this image</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <form class="text-center" method='post' action='/gallery/delete' enctype="multipart/form-data">
                                    <input id="input_GalleryItemId" type='hidden' name='post_GalleryItemId'>
                                    <input id="input_GalleryItemName" type='hidden' name='post_GalleryItemName'>
                                    <input type="hidden" name="_csrf" value="some csrf token here">
                                    <input type='submit' class='btn btn-danger ' value='Yes'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-4"></div>
                    <a class="col-4 btn btn-outline-info" href="/gallery/add">Add New Item</a>
                    <div class="col-4"></div>
                </div>
                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>

<script>

    function setImageZoomClickListeners(){
        $('.gallery-image').click(function () {
            $('#model_ImageZoom').css({"display":"block"}) ;
            $('#image_Enlarged').attr('src', $(this).find('img').attr('src')) ;
        }) ;


        $('#image_Enlarged').click(function() {
            $('#model_ImageZoom').css({"display":"none"}) ;
        }) ;
    }
    setImageZoomClickListeners() ;


    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let galleryItemId = button.attr('data-gallery-item-id') ;
        let galleryItemName = button.attr('data-gallery-item-name') ;


        $(this).find('#input_GalleryItemId').val(galleryItemId) ;
        $(this).find('#input_GalleryItemName').val(galleryItemName) ;
    })




</script>








</html>
