{{#*inline "partial_head"}}
    <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >

{{/inline}}


{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Admin Management
                    <div class="page-title-subheading">Manage all the admins here
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/admins/add' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-primary">
                        <span><i class="fa fa-plus-square" ></i></span>
                        Add New Admin
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="my-app-content">

        <table  class='table table-bordered table-hover' >
            <tr class='bg-grey'>
                <th>Sr No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Acitve</th>
                <th>Active Untill</th>
                <th>Change Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {{#each adminList}}
                <tr>
                    <td class='td-link' data-href='/admins/view/{{id}}'>  {{increment @index}}  </td>
                    <td class='td-link' data-href='/admins/view/{{id}}'>  {{name}}  </td>
                    <td class='td-link' data-href='/admins/view/{{id}}'>  {{email}}  </td>
                    <td class="td-link" data-href="/admins/view/{{id}}">
                        {{#if account_is_active}}
                            <button class='btn btn-success ' ><i class='fa fa-check'></i></button>
                        {{else}}
                            <button class='btn btn-danger' ><i class='fa fa-times'></i></button>
                        {{/if}}
                    </td>
                    <td class="td-link" data-href="/admins/view/{{id}}">
                        {{active_untill}}
                    </td>
                    <td>
                        <a href="/admins/change-password/{{id}}">
                            <button type='submit' class='btn btn-alternate' >
                                <span><i class='fa fa-cogs'></i></span>
                                Change Password
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="/admins/edit/{{id}}">
                            <button type='submit' class='btn btn-info' >
                                <span><i class='fa fa-edit'></i></span>
                                Edit
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger button_Delete" type="button" data-admin-id="{{id}}" data-toggle="modal" data-target="#modal_Delete" >
                            <span><i class='fa fa-trash'></i></span>
                            Delete
                        </button>
                    </td>
                </tr>
            {{/each}}


        </table>



    </div>

{{/template_base}}


{{#*inline "partial_body_script"}}

    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Account</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/admins/delete'>
                        <input id="input_AdminId" type='hidden' name='galleryItemId'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger ' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>

    <script>
        $('#modal_Delete').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget) ; // Button that triggered the modal
            let adminId = button.attr('data-admin-id') ;

            $(this).find('#input_AdminId').val(adminId) ;
        })
    </script>

{{/inline}}
