{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-gift icon-gradient bg-love-kiss"></i>
                </div>
                <div>
                    View Offer
                    <div class="page-title-subheading">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->



    <div class="card">
                <div class="card-body">

                        <div class="form-group row">
                            <label for="input-offer-message" class="col-3 col-form-label">Offer Title</label>
                            <div class="col-md-9">
                                <input name="__offer_title" id="input-offer-message" class="form-control" type="text" value="{{offerData.title}}" disabled >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="input-offer-message" class="col-3 col-form-label">Offer Message</label>
                            <div class="col-md-9">
                                <textarea name='offerMessage' id="input-offer-message" class="form-control" rows="2"  disabled>{{offerData.message}}</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-3 col-form-label">Offer Image</label>
                            <div class="col-4 input-group">
                                <img src='{{IMAGE_BACKENDFRONT_LINK_PATH}}{{offerData.image}}' class='img-fluid'  >
                            </div>
                        </div>

                        <br><br><br>
                        <div class="form-group row">
                            <div class="col-4" ></div>
                            <a href='/specials/edit/{{offerData.id}}' class='col-4 btn btn-primary' >Edit this Offer</a>
                            <div class="col-4" ></div>
                        </div>

                    </div>
            </div>


{{/template_base}}

