<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">


    {{#if isEnvironmentProduction}}
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" >
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css" >
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    {{else}}
        <link rel = "stylesheet" href="/lib/jquery_ui/jquery-ui.min.css" >
        <link rel = "stylesheet" href="/lib/jquery_ui/jquery-ui.structure.min.css" >
        <link rel = "stylesheet" href="/lib/jquery_ui/jquery-ui.theme.min.css" >
        <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >
        <link rel = "stylesheet" href="/lib/toastr/toastr.min.css" />


        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    {{/if}}

    <link rel="stylesheet" href="{{publicDirectoryLocation}}/assets/base.css" >
    <link rel="stylesheet" href="{{publicDirectoryLocation}}/css/my_personal.css">

    <!--<link rel="stylesheet" href="/css/compiled.css">-->
    {{#> partial_head}}
        <!--There was no partial for the head-->
    {{/partial_head}}



</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    {{> header}}
    <div class="app-main">
        {{> sidebar }}
        <div class="app-main__outer">
            <div class="app-main__inner">

                {{> @partial-block}}
                <br><br>
            </div>
            <!--Footer here. But the theme looks good without it-->
        </div>

    </div>
</div>


<!--<script src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<!--<script type="text/javascript" src="/js/main.js"></script>-->

{{#if isEnvironmentProduction}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" ></script>

{{else}}

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/jquery_ui/jquery-ui.js" ></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery-validate-my-methods.js"></script>
    <script src="/lib/tether/dist/js/tether.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>
    <script src="/lib/toastr/toastr.min.js" ></script>

{{/if}}

<script src="{{publicDirectoryLocation}}/js/app.js"></script>
<script src="{{publicDirectoryLocation}}/js/demo.js"></script>
<script src="{{publicDirectoryLocation}}/js/scrollbar.js"></script>
<script src="{{publicDirectoryLocation}}/js/calendar.js"></script>
<script src="{{publicDirectoryLocation}}/js/maps.js"></script>
<script src="{{publicDirectoryLocation}}/js/chart.bundle.min.js"></script>
<script src="{{publicDirectoryLocation}}/js/Chart.min.js"></script>

<script src="{{publicDirectoryLocation}}/js/my_personal.js" ></script>


{{#> partial_body_script}}
    <!--There was no partial for the body script-->
{{/partial_body_script}}

</body>
</html>
