<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12 bg-grey">

                <br><br><br><br>
                <div class="page-title bg-light">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h1 class="">Edit Contact-Us</h1>
                        </div>
                    </div>
                </div>
                <br><br><br>





                <div class="row">
                    <div id="Section_AddNewItemForm" class="col-10 push-1" >
                        <form action="/contact/edit/save" method="post">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="ytext-heading">Address</h3>
                                </div>
                                <div class="card-block">

                                    <div class="form-group row">
                                        <label for="input-item-name" class="col-3 col-form-label">Restaurant Name</label>
                                        <div class="col-md-9">
                                            <input name="post_name" class="form-control" type="text"  id="input-item-name" value="{{contactData.restaurant_name}}" >
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="input-item-name" class="col-3 col-form-label">Address Line 1 </label>
                                        <div class="col-md-9">
                                            <input name="post_addr1" class="form-control" type="text" id="input-item-name" value="{{contactData.restaurant_addr_1}}" >
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="input-item-name" class="col-3 col-form-label">Address Line 2</label>
                                        <div class="col-md-9">
                                            <input name="post_addr2" class="form-control" type="text" placeholder="" id="input-item-name" value="{{contactData.restaurant_addr_2}}" >
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="input-item-name" class="col-3 col-form-label">Address Line 3</label>
                                        <div class="col-md-9">
                                            <input name="post_addr3" class="form-control" type="text" placeholder="" id="input-item-name" value="{{contactData.restaurant_addr_3}}" >
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="ytext-heading">Contact</h3>
                                        </div>
                                        <div class="card-block">

                                            <div class="form-group row">
                                                <label for="input-item-name" class="col-3 col-form-label">Phone no</label>
                                                <div class="col-md-9">
                                                    <input name="post_phone" class="form-control" type="text" placeholder="ex. 9780045712" id="input-item-name" value="{{contactData.restaurant_phone}}" >
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="input-item-name" class="col-3 col-form-label">Email Id</label>
                                                <div class="col-md-9">
                                                    <input name="post_email" class="form-control" type="text" placeholder="ex. example@gmail.com" id="input-item-name" value="{{contactData.restaurant_email}}" >
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="ytext-heading">For Google Maps</h3>
                                        </div>
                                        <div class="card-block">

                                            <div class="form-group row">
                                                <label for="input-item-name" class="col-3 col-form-label">Latitude</label>
                                                <div class="col-md-9">
                                                    <input name="post_latitude" class="form-control" type="text" placeholder="ex. 94.147" id="input-item-name" value="{{contactData.latitude}}" >
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="input-item-name" class="col-3 col-form-label">Longitude</label>
                                                <div class="col-md-9">
                                                    <input name="post_longitude" class="form-control" type="text" placeholder="ex. 120.745" id="input-item-name" value="{{contactData.longitude}}" >
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br><br><br><br>


                            <div class="form-group row">
                                <div class="col-4" ></div>
                                <input type="submit" class=" col-4 btn btn-outline-info" value="Save">
                                <div class="col-4" ></div>
                            </div>









                        </form>
                    </div>
                </div>





                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>
<script type="text/javascript" src="/lib/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/my_personal.js"></script>


<script>
    setupTinyMCE('#input-rest-hours') ;

</script>








</html>
