{{#*inline "partial_head"}}

{{/inline}}


{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    All {{categoryData.category_name}} sizes
                    <div class="page-title-subheading">
                        Manage all the Sizes for the Category:{{categoryData.category_name}} on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/size/change-default/{{categoryData.category_id}}' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-info">
                        <span><i class="fa fa-star" ></i></span>
                        Change Default Size
                    </button>
                </a>
                <a href='/menu/size/arrange/{{categoryData.category_id}}' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-secondary">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="my-app-content">
        <table  class='table table-bordered table-hover' >
            <tr class='bg-grey'>
                <th>Sr No</th>
                <th>Size Name</th>
                <th>Size Abbreviation</th>
                <th>Is Default</th>
                <th>Is Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {{#ifEquals sizeData.length 0}}
                {{>empty_state_table Note="<br>Note : You need at least one size to add prices to dishes"}}
            {{/ifEquals}}


            {{#each sizeData}}
                <tr>
                    <td>  {{increment @index}}  </td>
                    <td>  {{size_name}}  </td>
                    <td>  {{size_name_short}}  </td>
                    <td>
                        {{#if size_is_default}}
                            <button class='btn btn-success' >Yes</button>
                        {{/if}}
                    </td>
                    <td>
                        {{#if size_is_active}}
                            <button class='btn btn-success' ><i class='fa fa-check'></i></button>
                        {{else}}
                            <button class='btn btn-danger' ><i class='fa fa-times'></i></button>
                        {{/if}}
                    </td>
                    <td>
                        <a href="/menu/size/edit/{{size_id}}">
                            <button type='submit' class='btn btn-info' >
                                <span><i class='fa fa-edit'></i></span>
                                Edit Size
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger button_Delete" type="button" data-size-id="{{size_id}}" data-toggle="modal" data-target="#modal_Delete" >
                            <span><i class='fa fa-trash'></i></span>
                            Delete Size
                        </button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <br><br>

        <div class="text-center">
            <a class="col-sm-4 btn btn-primary" href="/menu/size/add/{{categoryData.category_id}}">
                Add New Item
            </a>
        </div>
    </div>


{{/template_base}}


{{#*inline "partial_body_script"}}
    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this addon</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> The following action will also delete the following data</p>
                    <ul>
                        <li> The price data of Dishes, for this size</li>
                        <li> The price data of addons, for this size</li>

                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/menu/size/delete' >
                        <input id="input-sizeId" type='hidden' name='sizeId'>
                        <input id="input-categoryId" type='hidden' name="categoryId" value='{{categoryData.category_id}}'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>


    /* This code is needed as the active class is not removed from the nav item in bootstrap-alpha6
     */
    $(".nav-link").click(function() {
        $(".nav-link").removeClass('active');
    });


    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let sizeId = button.attr('data-size-id') ;

        $(this).find('#input-sizeId').val(sizeId) ;
    }) ;
</script>
{{/inline}}