
{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Change Default Selected Size
                    <div class="page-title-subheading">
                        Choose the Default size which is Pre-Selected for Category:{{categoryData.category_name}}
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/size/{{categoryData.category_id}}' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                        <div class="card">
                            <div class="card-header justify-content-center">
                                <h3 class="">Select a Size</h3>
                            </div>
                            <div class="card-body text-center">
                                <div>
                                {{#each sizeList}}
                                    <input id="someId" name='defaultSizeId'  type='radio' value='{{size_id}}' {{#if size_is_default}} checked="checked" {{/if}}>
                                    {{size_name}}<br>
                                {{/each}}
                                </div>

                                <br><br>

                                <div class="row">
                                    <div class="col-3"></div>
                                    <button class="col-6 btn btn-primary" onclick="saveDefaultValue()" >Save</button>
                                    <div class="col-3"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br><br>




{{/template_base}}


{{#*inline "partial_body_script"}}
<script>


    function saveDefaultValue() {
        let defaultSizeId = $('input[name=defaultSizeId]:checked').val() ;
        fetch('/menu/size/change-default/save', {
            method: 'POST',
            body: new URLSearchParams({
                _csrf : "{{_csrfToken}}",
                defaultSizeId,
                categoryId : '{{categoryData.category_id}}'
            })
        })
        .then((response)=>response.json())
        .then((data)=>{
            if(data.status == true){
                makeToast('success', "Default value is changed <br> taking you back to size page") ;
                setTimeout(function () {
                    window.location.href="/menu/size/{{categoryData.category_id}}" ;
                }, 1000)
            }else{
                throw data ;
            }
        })
        .catch((err)=>{
            console.log(err) ;
            makeToast('error', "Error in changing the default value") ;
        }) ;




    }



</script>
{{/inline}}