{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-night-fade"></i>
                </div>
                <div>
                    Categories
                    <div class="page-title-subheading">
                        Manage all the categories for the menu on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/category/arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-secondary">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="my-app-content">

        <div class="table-responsive">
            <table  class='table table-bordered table-hover' >

                <tr class='bg-grey'>
                    <th>Sr No</th>
                    <th>Image</th>
                    <th>Category Name</th>
                    <th>Is Active</th>
                    <th>Manage Sizes</th>
                    <th>Manage Addon Groups</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>

                {{#each categoryData}}
                    <tr>
                        <td class='td-link' data-href='/menu/category/view/{{category_id}}'>  {{increment @index}}  </td>
                        <td class='td-link' data-href='/menu/category/view/{{category_id}}'><img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{category_image}}' class='img-fluid' width='90px' ></td>
                        <td class='td-link' data-href='/menu/category/view/{{category_id}}'>  {{category_name}}  </td>

                        <td class='td-link' data-href='/menu/category/view/{{category_id}}'>
                            {{#if category_is_active}}
                                <button class='btn btn-success active' ><i class='fa fa-check'></i></button>
                            {{else}}
                                <button class='btn btn-danger active' ><i class='fa fa-times'></i></button>
                            {{/if}}
                        </td>

                        <td>
                            <a href='/menu/size/{{category_id}}'>
                                <button class="btn btn-secondary" type="button">
                                    <span><i class='fa fa-cog'></i></span> Size
                                </button>
                            </a>
                        </td>

                        <td>

                            <a href='/menu/addonGroup/{{category_id}}'>
                                <button class="btn btn-secondary" type="button">
                                    <span><i class='fa fa-cogs'></i></span> Addon-Groups
                                </button>
                            </a>
                        </td>


                        <td>
                            <a href="/menu/category/edit/{{category_id}}">
                                <button type='submit' class='btn btn-info' ><span><i class='fa fa-edit'></i></span> Edit Category</button>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger button_Delete" type="button" data-category-id="{{category_id}}" data-category-image-name="{{category_image}}" data-toggle="modal" data-target="#modal_Delete" >
                                <span><i class='fa fa-trash'></i></span> Delete Category
                            </button>
                        </td>


                    </tr>

                {{/each}}


            </table>
        </div>
            <br><br>


        <div class="row">
            <div class="col-4"></div>
            <a class="col-4 btn btn-primary" href="/menu/category/add">
                Add New Item
            </a>
            <div class="col-4"></div>
        </div>
    </div>



{{/template_base}}


{{#*inline "partial_body_script"}}
    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Category</h6>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Deleting a category will also delete the following data.
                    </p>
                    <ul>
                        <li>All the Dishes for this category</li>
                        <li>All the Addon-groups and their items for this category</li>
                        <li>All the Size Information for this category</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/menu/category/delete'>
                        <input id="input-category-id" type='hidden' name='categoryId'>
                        <input id="input-category-imageFileName" type='hidden' name='categoryImageFileName'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger ' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal

        $('#input-category-id').val(button.attr('data-category-id')) ;
        $('#input-category-imageFileName').val(button.attr('data-category-image-name')) ;
    }) ;


</script>
{{/inline}}

