{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-night-fade"></i>
                </div>
                <div>
                    View Category
                    <div class="page-title-subheading">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/category' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="card">
        <div class="card-body">

            <div class="form-group row">
                <label for="input-category-name" class="col-3 col-form-label">Category Name</label>
                <div class="col-md-9">
                    <input id="input-category-name" class="form-control" type="text" value="{{categoryData.category_name}}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-category-active" class="col-3 col-form-label">Category Active</label>
                <div class="col-md-9">
                    <input id="input-category-active" class="form-control" type="hidden" value="{{categoryData.category_is_active}}" readonly >
                    {{#if categoryData.category_is_active}}
                        <button class='btn btn-success active my-cursor-default pr-5 pl-5' ><i class='fa fa-check'></i></button>
                    {{else}}
                        <button class='btn btn-danger active my-cursor-default pr-5 pl-5' ><i class='fa fa-times'></i></button>
                    {{/if}}
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label  class="col-3 col-form-label">Category Image</label>
                <div class="col-md-4">
                    <img src='{{IMAGE_BACKENDFRONT_LINK_PATH}}{{categoryData.category_image}}' alt='image' class="img-fluid" />
                </div>
            </div>
            <br><br>

            <div class="form-group row">
                <div class="col-4" ></div>
                <a href='/menu/category/edit/{{categoryData.category_id}}' class='col-4 btn btn-primary' >Edit this Category</a>
                <div class="col-4" ></div>
            </div>


        </div>
    </div>


{{/template_base}}

