{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    New Addon-Group
                    <div class="page-title-subheading">
                        Insert a new Addon-Group for Category:{{categoryData.category_name}}
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/addonGroup/{{categoryData.category_id}}' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="card">
        <div class="card-body">
            <form id="form-main" action="/menu/addonGroup/add/save?_csrf={{_csrfToken}}" method="post" >
                <input name="categoryId" type="hidden" value="{{categoryData.category_id}}">
                <br>

                <div class="form-group row">
                    <label for="input-addonGroup-category" class="col-3 col-form-label">Category</label>
                    <div class="col-md-9">
                        <input id="input-addonGroup-category" class="form-control" type="text" value="{{categoryData.category_name}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input-addonGroup-name" class="col-3 col-form-label">Addon-Group Name</label>
                    <div class="col-md-9">
                        <input id="input-addonGroup-name" name="addonGroupName" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input-addonGroup-type" class="col-3 col-form-label">Addon-Group Type</label>
                    <div class="col-md-9">
                        <select name = "addonGroupType" id="input-addonGroup-type" class="form-control"  >
                            <option selected disabled>Choose a Type</option>
                            <option value="radio" >Single-Select</option>
                            <option value="checkbox" >Multi-Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input-item-isActive" class="col-3 col-form-label">Is Active</label>
                    <div class="col-md-9">
                        <input id="input-addonGroup-isActive-hidden" name="isAddonGroupActive" class="form-control" type="hidden" value="1"  >
                        <input id="input-addonGroup-isActive-presentation" type="checkbox" class="form-control" checked="checked" data-toggle="toggle" data-width="100" data-onstyle="success" data-offstyle="danger" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                    </div>
                </div>

                <br><br>
                <div class="form-group row">
                    <div class="col-1"></div>
                    <a href="/menu/addonGroup/{{categoryData.category_id}}" class="col-4 btn btn-danger">Cancel</a>
                    <div class="col-2"></div>
                    <input type="submit" class=" col-4 btn btn-success" value="Add">
                    <div class="col-1" ></div>
                </div>


            </form>
        </div>
    </div>


{{/template_base}}

{{#*inline "partial_body_script"}}

<script>

    setupCheckboxToggleButton('input-addonGroup-isActive-presentation', 'input-addonGroup-isActive-hidden') ;

    $('#form-main').validate({
        errorPlacement : (error, element)=>{
            //insert the label element after the parent div
            error.insertAfter(element) ;
            $(error).addClass('text-danger') ;

        },
        highlight: function(element) {
            // function is invoked on any input element when error occurs for that particular input
            $(element).addClass('is-invalid') ;

        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid') ;

        },
        success : (label, element)=>{
            $(element).addClass('is-valid') ;
        },
        rules : {
            addonGroupName : {
                required : true,
                minlength : 3
            },
            addonGroupType : {
                required : true,
            },
        },
        messages : {
            addonGroupName : {
                minlength : "The author name should be a min of 3 characters"
            },
            addonGroupType : {
                required : "You must select a type",
            },

        },
    }) ;


</script>
{{/inline}}