{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    All {{categoryData.category_name}} Addon-Groups
                    <div class="page-title-subheading">
                        Manage all the Addon-Groups for the Category:{{categoryData.category_name}} on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/addonGroup/arrange/{{categoryData.category_id}}' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-secondary">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="my-app-content">
        <table  class='table table-bordered table-hover' >
            <tr class='bg-grey'>
                <th>Sr No</th>
                <th>Addon-Group Name</th>
                <th>Addon-Group Type</th>
                <th>Is Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {{#ifEquals addonGroupData.length 0}}
                {{>empty_state_table}}
            {{/ifEquals}}

            {{#each addonGroupData}}
                <tr>
                    <td>  {{increment @index}}  </td>
                    <td>  {{addon_group_display_name}}  </td>
                    <td>
                        {{#ifEquals addon_group_type 'radio'}}
                            Single-Select
                        {{else}}
                            Multi-Select
                        {{/ifEquals}}
                    </td>
                    <td>
                        {{#if addon_group_is_active}}
                            <button class='btn btn-success active my-cursor-default' ><i class='fa fa-check'></i></button>
                        {{else}}
                            <button class='btn btn-danger active my-cursor-default' ><i class='fa fa-times'></i></button>
                        {{/if}}
                    </td>
                    <td>
                        <a href="/menu/addonGroup/edit/{{rel_id}}">
                            <button type='submit' class='btn btn-info' >
                                <span><i class='fa fa-edit'></i></span>
                                Edit Addon-Group
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger button_Delete" type="button" data-addonGroup-id="{{rel_id}}" data-toggle="modal" data-target="#modal_Delete" >
                            <span><i class='fa fa-trash'></i></span>
                            Delete Addon-Group
                        </button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <br><br>

        <div class="text-center">
            <a class="col-sm-4 btn btn-primary" href="/menu/addonGroup/add/{{categoryData.category_id}}">
                Add New Item
            </a>
        </div>

    </div>




{{/template_base}}


{{#*inline "partial_body_script"}}
    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Addon-Group</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/menu/addonGroup/delete' >
                        <input id="input-addonGroupId" type='hidden' name='addonGroupId'>
                        <input id="input-categoryId" type='hidden' name='categoryId' value="{{categoryData.category_id}}">
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>


    /* This code is needed as the active class is not removed from the nav item in bootstrap-alpha6
     */
    $(".nav-link").click(function() {
        $(".nav-link").removeClass('active');
    });


    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let addonGroupId = button.attr('data-addonGroup-id') ;

        $(this).find('#input-addonGroupId').val(addonGroupId) ;
    }) ;
</script>
{{/inline}}

