{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Change Default {{addonGroupData.addon_group_display_name}}
                    <div class="page-title-subheading">Choose the default selected value for "{{addonGroupData.addon_group_display_name}}"
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials\arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="card">
                <div class="card-header justify-content-center">
                    <h5 class="font-weight-bold">Select the default Addon</h5>
                </div>
                <div class="card-body text-center">
                    <input name='defaultItemId' type='radio' value='-1' checked="checked">
                        <span class="font-weight-bold">No Default Item</span>
                    <br>

                    <div>
                    {{#each itemData}}
                        <input name='defaultItemId'  type='radio' value='{{item_id}}' {{#if item_is_default}} checked="checked" {{/if}}>
                        {{item_name}}<br>
                    {{/each}}
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-4"></div>
                        <button class="col-4 btn btn-primary" onclick="saveDefaultValue()" >Save</button>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{/template_base}}


{{#*inline "partial_body_script"}}
<script>


    function saveDefaultValue() {
        let defaultItemId = $('input[name=defaultItemId]:checked').val() ;
        fetch('/menu/addons/change-default/save', {
            method: 'POST',
            body: new URLSearchParams({
                _csrf : "{{_csrfToken}}",
                defaultItemId,
                addonGroupId : '{{addonGroupData.rel_id}}'
            })
        })
        .then((response)=>response.json())
        .then((data)=>{
            if(data.status == true){
                makeToast('success', "Default value is changed <br> taking you back to addons page") ;
                setTimeout(function () {
                    window.location.href="/menu/addons" ;
                }, 1000)
            }else{
                throw data ;
            }
        })
        .catch((err)=>{
            console.log(err) ;
            makeToast('error', "Error in changing the default value") ;
        }) ;




    }



</script>
{{/inline}}

