{{#> template_base}}


    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-comments icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Offers & Specials
                    <div class="page-title-subheading">Put all the current offers in the restaurant on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials\arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="bg-white" style="padding: 30px">
        <table  class='table table-bordered table-hover ' >

            <tr class='bg-grey'>

                <th>Display Image</th>
                <th>Title</th>
                <th>Message</th>
                <th>Created On</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {{#ifEquals offerData.length 0}}
                {{>empty_state_table}}
            {{/ifEquals}}

            {{#each offerData}}
                <tr>
                    <td class='addon-link-link' data-href='/specials/view/{{id}}'><img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{image}}' class='img-fluid' width='90px' ></td>
                    <td class='addon-link' data-href='/specials/view/{{id}}'>  {{title}}  </td>
                    <td class='addon-link' data-href='/specials/view/{{id}}'>  {{message}}</td>
                    <td class='addon-link' data-href='/specials/view/{{id}}'>  {{creation_datetime}}</td>

                    <td>
                        <div style='display: inline-block'>
                            <a href="/specials/edit/{{id}}">
                                <button type='submit' class='btn btn-info' ><span><i class='fa fa-edit'></i></span></button>
                            </a>
                        </div>
                    </td>

                    <td>
                        <button class="btn btn-danger button_Delete" type="button" data-offer-id="{{id}}" data-offer-image-name="{{image}}" data-toggle="modal" data-target="#modal_Delete" >
                            <span><i class='fa fa-trash'></i></span>
                        </button>

                    </td>
                </tr>
            {{/each}}


        </table>

        <br><br>
        <div class="row">
            <div class="col-4"></div>
            <a class="col-4 btn btn-outline-info" href="/specials/add">
                Add New Item
            </a>
            <div class="col-4"></div>
        </div>


    </div>
    <br><br>







{{/template_base}}



{{#*inline "partial_body_script"}}
    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this offer</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/specials/delete'>
                        <input id="input_OfferId" type='hidden' name='offerId'>
                        <input id="input_OfferImageName" type='hidden' name='offerImageFileName'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger ' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        $('#modal_Delete').on('show.bs.modal', function (event) {
          console.log("Delete aws clicked") ;
            let button = $(event.relatedTarget) ; // Button that triggered the modal
            let offerItemId = button.attr('data-offer-id') ;
            let offerImageName = button.attr('data-offer-image-name') ;


            $(this).find('#input_OfferId').val(offerItemId) ;
            $(this).find('#input_OfferImageName').val(offerImageName) ;
        })
    </script>
{{/inline}}