{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>About Us
                    <div class="page-title-subheading">Put all the current offers in the restaurant on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials\arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->



    <div class="card-header">
        <ul class="nav nav-justified ">
            {{#each menuData}}
                <li class='nav-item'>
                    <a class='nav-link {{#if @first}}active{{/if}} text-info' data-toggle='tab' href='#Div_Table_{{category_id}}'>
                        {{category_name}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="my-app-content" style="padding: 30px">
    <div class="tab-content ">
        {{#each menuData}}
            <div id="Div_Table_{{category_id}}" class = 'tab-pane fade {{#if @first}} active show{{/if}}'>

                {{#ifEquals items.length 0}}
                    <br>
                {{else}}
                    <div class="text-right">
                        <a href='/menu/dishes/arrange/{{category_id}}' class="mytheme-anchor">
                            <button type="button" class="btn-shadow btn btn-dark">
                                <span><i class="fa fa-sort" ></i></span>
                                Change Order
                            </button>
                        </a>
                    </div>
                {{/ifEquals}}

                <br>
                <table  class='table table-bordered table-hover' >
                    <tr class='bg-grey'>
                        <th>Sr No</th>
                        <th>Image</th>
                        <th>Dish Name</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    {{#ifEquals items.length 0}}
                        {{>empty_state_table}}
                    {{/ifEquals}}

                    {{#each items}}
                        <tr>
                            <td class='td-link' data-href='/menu/dishes/view/{{item_id}}'>  {{increment @index}}  </td>
                            <td class='td-link' data-href='/menu/dishes/view/{{item_id}}'><img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{item_image_name}}' class='img-fluid' width='90px' ></td>
                            <td class='td-link' data-href='/menu/dishes/view/{{item_id}}'>  {{item_name}}  </td>

                            <td class='td-link' data-href='/menu/dishes/view/{{item_id}}'>
                                {{#if item_is_active}}
                                    <button class='btn btn-success' ><i class='fa fa-check'></i></button>
                                {{else}}
                                    <button class='btn btn-danger' ><i class='fa fa-times'></i></button>
                                {{/if}}
                            </td>
                            <td>
                                <a href="/menu/dishes/edit/{{item_id}}">
                                    <button type='submit' class='btn btn-info' ><span><i class='fa fa-edit'></i></span> Edit Dish</button>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger button_Delete" type="button" data-item-id="{{item_id}}" data-item-image-name="{{item_image_name}}" data-toggle="modal" data-target="#modal_Delete" >
                                    <span><i class='fa fa-trash'></i></span> Delete Dish
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </table>

                <br>
                <br>
                <div class="text-center">
                    <a class="col-sm-4 btn btn-outline-info" href="/menu/dishes/add/{{category_id}}">
                        Add New Item
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
    </div>














{{/template_base}}


{{#*inline "partial_body_script"}}

<div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this dish</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/menu/dishes/delete'>
                        <input id="input-ItemId" type='hidden' name='itemId'>
                        <input id="input-ItemImageName" type='hidden' name='itemImageName'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>


    /* This code is needed as the active class is not removed from the nav item in bootstrap-alpha6
     */
    // $(".nav-link").click(function() {
    //     $(".nav-link").removeClass('active');
    // });


    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let itemId = button.attr('data-item-id') ;
        let itemImageName= button.attr('data-item-image-name') ;


        $(this).find('#input-ItemId').val(itemId) ;
        $(this).find('#input-ItemImageName').val(itemImageName) ;
    })
</script>

{{/inline}}