<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-12">
                <div id="NavTabsPanel" class="row" style="background-color: #333;left: 0; right: 0 ;position: fixed;z-index: 1">
                    <div class="col-12" >
                        <br>
                        <div class="card-header" style="background-color: #333">
                            <ul class="nav nav-tabs card-header-tabs nav-fill ">
                                {{#each addonData}}
                                    <li class='nav-item'>
                                        <a class='nav-link {{#if @first}}active{{/if}} text-info' data-toggle='tab' href='#Div_Table_{{category_id}}'>
                                            {{category_name}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>

                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="tab-content">
                {{#each addonData}}
                    <div id="Div_Table_{{category_id}}" class = 'tab-pane fade {{#if @first}} active show{{/if}}'>
                    {{#each addonGroups}}

                        <div class="text-center">
                            <h1>{{addon_group_display_name}}
                                {{#ifEquals addon_group_type 'checkbox' }}(Multi-Select){{else}}(Single-Select){{/ifEquals}}
                            </h1>
                            <a href='/menu/addons/arrange/{{rel_id}}' class="mytheme-anchor">Change Order</a>
                            {{#ifEquals addon_group_type 'radio' }}
                            <br><a href='/menu/addons/change-default/{{rel_id}}' class="mytheme-anchor">Change Default Value</a>
                            {{/ifEquals}}
                        </div>
                        <br>

                        <table  class='table table-bordered table-hover' >
                            <tr class='table-info'>
                                <th>Sr No</th>
                                <th>Addon Name</th>
                                {{#ifEquals addon_group_type 'radio' }}<th>Is Default</th>{{/ifEquals}}
                                <th>Is Active</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            {{#each addonItems}}
                                <tr>
                                    <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>  {{@index}}  </td>
                                    <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>  {{item_name}}  </td>

                                    {{#ifEquals ../addon_group_type 'radio' }}
                                        <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>
                                            {{#if item_is_default}}
                                                <button class='btn btn-success' >Yes</button>
                                            {{else}}
                                            {{/if}}
                                        </td>
                                    {{/ifEquals}}


                                    <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>
                                        {{#if item_is_active}}
                                            <button class='btn btn-success' ><i class='fa fa-check'></i></button>
                                        {{else}}
                                            <button class='btn btn-danger' ><i class='fa fa-times'></i></button>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a href="/menu/addons/edit/{{item_id}}">
                                            <button type='submit' class='btn btn-info' >
                                                <span><i class='fa fa-edit'></i></span>
                                                Edit Dish
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger button_Delete" type="button" data-item-id="{{item_id}}" data-toggle="modal" data-target="#modal_Delete" >
                                            <span><i class='fa fa-trash'></i></span>
                                            Delete Addon
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                        <br>
                        <br>
                        <div class="text-center">
                            <a class="col-sm-4 btn btn-outline-info" href="/menu/addons/add/{{category_id}}/{{rel_id}}">
                                Add New Item
                            </a>
                        </div>
                        <br><br><br><hr><br><br><br>
                    {{/each}}
                    </div>
                {{/each}}
                </div>


                <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this addon</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <form class="text-center" method='post' action='/menu/addons/delete' >
                                    <input id="input-ItemId" type='hidden' name='itemId'>
                                    <input type="hidden" name="_csrf" value="some csrf token here">
                                    <input type='submit' class='btn btn-danger' value='Yes'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>





            </div>
        </div>
    </div>
</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>

<script>


    /* This code is needed as the active class is not removed from the nav item in bootstrap-alpha6
     */
    $(".nav-link").click(function() {
        $(".nav-link").removeClass('active');
    });


    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let itemId = button.attr('data-item-id') ;

        $(this).find('#input-ItemId').val(itemId) ;
    }) ;
</script>







</html>
