{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-plus-square icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Addons
                    <div class="page-title-subheading">
                        Put all the current offers in the restaurant on this page
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

        <div class="card">
        <div class="card-header" >
            <ul class="nav nav-justified ">
                {{#each addonData}}
                    <li class='nav-item'>
                        <a class='nav-link {{#if @first}}active{{/if}} text-info' data-toggle='tab' href='#Div_AddonGroups_{{category_id}}'>
                            {{category_name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content">
            {{#each addonData}}

                <div id="Div_AddonGroups_{{category_id}}" class = 'tab-pane fade {{#if @first}} active show{{/if}}'>

                {{#ifEquals addonGroups.length 0}}
                    <!--There are no addon groups. Tell the user to add some addon groups.
                     Take them to category/addongroups page -->

                    <div class="text-center">
                        You haven't configured any Addon-Groups for this category.
                        <a href="/menu/addongroup/{{category_id}}">
                            <button type="button" class="btn btn-dark" >
                                <i class="fa fa-cogs">  </i> Configure
                            </button>
                        </a>
                    </div>
                {{else}}
                    <!--<div class="card-header">-->
                    <ul class="tabs-animated-shadow  tabs-animated nav " >
                        {{#each addonGroups}}
                            <li class='nav-item'>
                                <a class='nav-link {{#if @first}}active{{/if}} text-info' data-toggle='tab' href='#Div_TableAddonValues_{{rel_id}}'>
                                    <span class="text-dark" style="z-index: 4">
                                        {{addon_group_display_name}}
                                        <div class="badge badge-alternate">
                                            {{#ifEquals addon_group_type 'checkbox' }}Multi-Select{{else}}Single-Select{{/ifEquals}}
                                        </div>
                                    </span>

                                </a>
                            </li>
                        {{/each}}
                    </ul>
                <hr>
                    <!--</div>-->
                {{/ifEquals}}


                    <div class="tab-content">
                    {{#each addonGroups}}


                        <div id="Div_TableAddonValues_{{rel_id}}" class = 'tab-pane fade {{#if @first}} active show{{/if}}' >
                            <br>
                            <div id="Top_Buttons" class="float-right">

                                {{#ifEquals addonItems.length 0}}
                                {{else}}
                                    {{#ifEquals addon_group_type 'radio' }}

                                        <a href='/menu/addons/change-default/{{rel_id}}{{rel_id}}' class="mytheme-anchor">
                                            <button type="button" class="btn-shadow btn btn-info">
                                                <span><i class="fa fa-star" ></i></span>
                                                Change Default Value
                                            </button>
                                        </a>
                                    {{/ifEquals}}
                                    <a href='/menu/addons/arrange/{{rel_id}}' class="mytheme-anchor">
                                        <button type="button" class="btn-shadow btn btn-secondary">
                                            <span><i class="fa fa-sort" ></i></span>
                                            Change Order
                                        </button>
                                    </a>
                                {{/ifEquals}}
                            </div>

                            <br><br>
                            <table  class='table table-bordered table-hover' >
                                <tr class='bg-grey'>
                                    <th>Sr No</th>
                                    <th>Addon Name</th>
                                    {{#ifEquals addon_group_type 'radio' }}<th>Is Default</th>{{/ifEquals}}
                                    <th>Is Active</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>

                                {{#ifEquals addonItems.length 0}}
                                    {{>empty_state_table}}
                                {{/ifEquals}}

                                {{#each addonItems}}
                                    <tr>
                                        <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>  {{increment @index}}  </td>
                                        <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>  {{item_name}}  </td>

                                        {{#ifEquals ../addon_group_type 'radio' }}
                                            <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>
                                                {{#if item_is_default}}
                                                    <button class='btn btn-success active' >Yes</button>
                                                {{else}}
                                                {{/if}}
                                            </td>
                                        {{/ifEquals}}


                                        <td class='td-link' data-href='/menu/addons/view/{{item_id}}'>
                                            {{#if item_is_active}}
                                                <button class='btn btn-success active' ><i class='fa fa-check'></i></button>
                                            {{else}}
                                                <button class='btn btn-danger active' ><i class='fa fa-times'></i></button>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <a href="/menu/addons/edit/{{item_id}}">
                                                <button type='submit' class='btn btn-info' >
                                                    <span><i class='fa fa-edit'></i></span>
                                                    Edit Addon
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger button_Delete" type="button" data-item-id="{{item_id}}" data-toggle="modal" data-target="#modal_Delete" >
                                                <span><i class='fa fa-trash'></i></span>
                                                Delete Addon
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </table>
                            <br><br>

                            <div class="text-center">
                                <a class="col-sm-4 btn btn-primary" href="/menu/addons/add/{{category_id}}/{{rel_id}}">
                                    Add New Item
                                </a>
                            </div>

                        </div>

                    {{/each}}
                    </div>

                </div>

            {{/each}}
            </div>

        </div>
        </div>
{{/template_base}}


{{#*inline "partial_body_script"}}

    <div class="modal fade" id="modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this addon</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form class="text-center" method='post' action='/menu/addons/delete' >
                        <input id="input-ItemId" type='hidden' name='itemId'>
                        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                        <input type='submit' class='btn btn-danger' value='Yes'>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

    $('#modal_Delete').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) ; // Button that triggered the modal
        let itemId = button.attr('data-item-id') ;

        $(this).find('#input-ItemId').val(itemId) ;
    }) ;
</script>
{{/inline}}
