{{#*inline "partial_head"}}
    <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >

{{/inline}}


{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-plus-square icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    View Addon
                    <div class="page-title-subheading">
                        &nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/addons' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


                        <div class="card">
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="input-item-name" class="col-3 col-form-label">Item Name</label>
                                    <div class="col-md-9">
                                        <input id="input-item-name" name="itemName" class="form-control" type="text" value="{{addonData.item_name}}" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-category" class="col-3 col-form-label">Item Category</label>
                                    <div class="col-md-9">
                                        <input id="input-item-category" class="form-control" type="text" value="{{addonData.category_name}}" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-category" class="col-3 col-form-label">Item Addon-Group</label>
                                    <div class="col-md-9">
                                        <input id="input-item-category" class="form-control" type="text" value="{{addonData.addon_group_display_name}}" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-item-active" class="col-3 col-form-label">Item Active</label>
                                    <div class="col-md-9">
                                        <input id="input-item-active" name="isItemActive" class="form-control" type="hidden" value="{{addonData.item_is_active}}" disabled >
                                        <input id="input-item-active-presentation" type="checkbox" class="form-control"    {{#if addonData.item_is_active}} disabled checked="checked"{{/if}}  data-toggle="toggle" data-width="100" data-onstyle="success" data-offstyle="danger" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                                    </div>
                                </div>

                                <br>
                                <br>
                                <br>

                                {{#each addonSizePriceData}}
                                    <div class="form-group row">
                                        <label  class="col-3 col-form-label">Item Price ({{size_name}}) </label>
                                        <div class="col-md-9 input-group">
                                            <input type="hidden" class="form-control"  value="{{addon_size_active}}" readonly >
                                            <input type='checkbox' class='form-control' {{#if addon_size_active}}checked="checked"{{/if}} disabled data-toggle='toggle' data-width='50' data-onstyle='success' data-offstyle='danger' data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                                            <div class="input-group" style='margin-left: 20px;'>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> &#x20B9; </span>
                                                </div>
                                                <input name="itemSizePrice_{{size_id}}" type='number' class='form-control' value="{{addon_price}}"  disabled >
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                <br><br>

                                <div class="form-group row">
                                    <div class="col-4" ></div>
                                    <a href='/menu/addons/edit/{{addonData.item_id}}' class='col-4 btn btn-primary' >Edit this Item</a>
                                    <div class="col-4" ></div>
                                </div>

                            </div>
                        </div>

{{/template_base}}


{{#*inline "partial_body_script"}}
    <script type="text/javascript" src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>

{{/inline}}
